/* MOST OF THIS CODE IS COMING FROM ADMINTLE TEMPLATE, THIS IS JUST A MODIFICATION TO GIVE THAT CYBERSPACE STYLE */
:root {
    --bs-body-bg: #101029;
    --bs-body-color: #c0e0ff;
    --bs-primary: #33aaff;
    --bs-secondary: #6E89B6;
    --bs-info: #00ffff;
    --bs-border-color: #1a1d40;
    --bs-light: #1b1b2f;
    --bs-dark: #000814;
    --bs-body-bg-rgb: 12, 19, 50;
    --bs-secondary-color: 0, 255, 255;
    --bs-nav-link-color: #7c00ff;
}

[data-bs-theme=light],
[data-bs-theme=dark] {
    --bs-body-bg: #101029;
    --bs-body-color: #c0e0ff;
    --bs-primary: #33aaff;
    --bs-border-color: #1a1d40;
}


body {
    color: rgb(96, 125, 175);
    font-family: 'Share Tech Mono', monospace;
    height: 100%;
    background: linear-gradient(180deg, rgb(0, 3, 20) 0%, rgb(13, 23, 59) 60%, rgb(0, 3, 20) 100%);
}

.content-wrapper, .main-footer, .main-header {
    background-color: rgba(13, 23, 59, 0.85);
    backdrop-filter: blur(6px);
}

.app-wrapper {
    display: block !important;
}

/* HAD TO DO MODIFICATIONS ON THE CONTENT CUZ I DELETED THE SIDEBAR */
.app-wrapper > .container {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}



/* DARK MODE COMING FROM ADMINTLE */
[data-bs-theme="dark"].app-sidebar,
[data-bs-theme="dark"] .app-sidebar {
    --lte-sidebar-hover-bg: rgba(51, 170, 255, 0.1); 
    --lte-sidebar-color: #99cfff; 
    --lte-sidebar-hover-color: #c0e0ff;
    --lte-sidebar-active-color: #00ffff; 
    --lte-sidebar-menu-active-bg: rgba(51, 170, 255, 0.15); 
    --lte-sidebar-menu-active-color: #00ffff;
    --lte-sidebar-submenu-bg: transparent; 
    --lte-sidebar-submenu-color: #99cfff;
    --lte-sidebar-submenu-hover-color: #c0e0ff;
    --lte-sidebar-submenu-hover-bg: rgba(51, 170, 255, 0.1); 
    --lte-sidebar-submenu-active-color: #00ffff; 
    --lte-sidebar-submenu-active-bg: rgba(51, 170, 255, 0.15);
    --lte-sidebar-header-color: #66c2ff;
}

.app-sidebar {
    --lte-sidebar-hover-bg: rgba(51, 170, 255, 0.1); 
    --lte-sidebar-color: #99cfff; 
    --lte-sidebar-hover-color: #c0e0ff; 
    --lte-sidebar-active-color: #00ffff;
    --lte-sidebar-menu-active-bg: rgba(51, 170, 255, 0.15); 
    --lte-sidebar-menu-active-color: #00ffff;
    --lte-sidebar-submenu-bg: transparent; 
    --lte-sidebar-submenu-color: #99cfff;
    --lte-sidebar-submenu-hover-color: #c0e0ff; 
    --lte-sidebar-submenu-hover-bg: rgba(51, 170, 255, 0.1); 
    --lte-sidebar-submenu-active-color: #00ffff;
    --lte-sidebar-submenu-active-bg: rgba(51, 170, 255, 0.15); 
    --lte-sidebar-header-color: #66c2ff; 
}

.nav-link {
    color: #607DAF !important;
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    text-shadow: 0 0 10px #6E89B6;
}

.nav-link:hover {
    color: #040E47 !important;

}

.display-4 {
    font-weight: 200;
    line-height: 1.5;
    font-size: calc(1.475rem + 2.7vw);
}

@media (min-width: 1200px) {
    .display-4 {
        font-size: 5rem;
    }
}


h1 {
    color: #071868;
    font-family: "Rubik Glitch", system-ui;
    font-style: normal;
    text-shadow: 0 0 20px #6E89B6;
    margin-top: 50px;
}

/* ====================== THIS IS THE STYLE FOR THE INTERACTIVE NODES ====================== */

.node {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px #ffffff;
    transition: 0.3s;
    background-color: #2f347a; 
}

.node:hover {
    box-shadow: 0 0 20px #ffffff, 0 0 40px #ffffff;
    transform: scale(1.2);
}

#cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2f347a;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.05s;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #0ff;
    color: #0ff;
    padding: 20px;
    border-radius: 8px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    max-width: 80%;
    text-align: center;
}

.modal.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.modal::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 1px solid #0ff;
    pointer-events: none;
    animation: flicker 1s infinite;
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 1;
    }

    20%, 22%, 24%, 55% {
        opacity: 0.3;
    }
}


/* ====================== THIS IS THE STYLE FOR THE INDEX ====================== */
.cyber-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

.cyber-panel {
    background: rgba(15, 20, 40, 0.7);
    border: 1px solid #2f347a;
    border-radius: 12px;
    padding: 30px 40px;
    max-width: 800px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px #755bb3;
    animation: pulse-glow 3s infinite alternate;
}

.cyber-panel h1 {
    color: #071868;
    text-shadow: 0 0 10px #6E89B6;
    margin-bottom: 20px;
}

.cyber-panel p {
   color: #c0e0ff;
   font-size: 1.1rem;
   line-height: 1.8;
}

.cyber-panel a {
    color: #1f4681;
    text-decoration: none;
    font-weight: bold;
}

.cyber-panel a:hover {
    text-shadow: 0 0 10px #607DAF;
}

@keyframes pulse-glow {
    0% {
        box-shadow: 0 0 15px #607DAF;
    }

    100% {
        box-shadow: 0 0 25px #607DAF;
    }
}

.panel-header {
    text-align: left;
    font-family: "Share Tech Mono", monospace;
    font-size: 0.9rem;
    color: #c0e0ff;
    border-bottom: 1px solid #8d00ff;
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-shadow: 0 0 5px #8d00ff;
}

/* ====================== ABOUT ME LAYOUT ====================== */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 80px 0;
    flex-wrap: wrap;
    padding: 0 80px;
}

.about-section.top {
    margin-top: 10px;
}

.about-section.reverse {
    flex-direction: row-reverse;
}

.about-text {
    flex: 1;
    padding: 20px;
    color: var(--bs-body-color);
    font-family: 'Share Tech Mono', monospace;
    line-height: 1.6;
}

    .about-text h2 {
        color: #607DAF;
        text-shadow: 0 0 15px #6E89B6;
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

.about-text.full {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.about-img {
    flex: 1;
    text-align: center;
}

.about-img img {
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    filter: brightness(0.8) contrast(1.2);
    box-shadow: 0 0 20px #607DAF;
    transition: transform 0.4s ease, filter 0.4s ease;
}

.about-img img:hover {
    transform: scale(1.05);
    filter: brightness(1) contrast(1.4);
}


.highlight {
    color: #6E89B6;
    text-shadow: 0 0 6px #607DAF;
    font-weight: bold;
}


.cyber-link {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 25px;
    border: 1px solid #607DAF;
    border-radius: 6px;
    color: #607DAF;
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
    transition: all 0.3s ease;
}

    .cyber-link:hover {
        background-color: rgba(64, 98, 152, 0.15);
        box-shadow: 0 0 15px #6E89B6;
    }


@media (max-width: 768px) {
    .about-section {
        flex-direction: column !important;
    }

    .about-text, .about-img {
        flex: unset;
        max-width: 100%;
    }
}



/* ====================== PROJECT LAYOUT ====================== */
.about-header-main .subtitle {
    position: relative;
    z-index: 1; 
    color: #c0e0ff;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
    margin-top: 15px; 
    text-align: center;
}

.project-img {
    flex: 1;
    text-align: center;
}

.project-img img {
    width: 100%;
    border-radius: 16px;
    filter: brightness(0.8) contrast(1.2);
    box-shadow: 0 0 20px #607DAF;
    transition: transform 0.4s ease, filter 0.4s ease;
}

.about-img img:hover {
    transform: scale(1.05);
    filter: brightness(1) contrast(1.4);
}

.github-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 24px;
    margin-top: 25px;
    border-radius: 12px;
    background: #010533;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #607DAF;
}

.github-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(31, 70, 129, 0.3);
    background: #7B94BD;
}

.github-btn i {
    font-size: 1.2rem;
}

.github-footer, .linkedin-footer, .gmail-footer {
    color: #607DAF;
    text-shadow: 0 0 10px #6E89B6;
    text-decoration: none;
}


/* ====================== SPLINE IMPLEMENTATION  ====================== */
.about-header-main {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.spline-background {
    position: absolute;
    top: -13%; 
    left: -20%;
    width: 140%; 
    height: 140%; 
    transform: scale(1.0);
    z-index: 0;
    pointer-events: none; 
}

    .spline-background spline-viewer {
        width: 100%;
        height: 100%;
    }

.about-header-main h1 {
    position: relative;
    z-index: 1;
    color: #071868;
    font-family: "Rubik Glitch", system-ui;
    font-size: 5rem;
    text-shadow: 0 0 15px #6E89B6;
    text-align: center;
}

/* Responsive */
@media (max-width: 900px) {
    .about-header-main {
        height: 400px;
    }

        .about-header-main h1 {
            font-size: 3.5rem;
        }

    .spline-background {
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        transform: scale(2);
    }
}

/* ====================== ACCORDION  ====================== */

.accordion {
    width: 100%;
    border-bottom: 2px solid #071868;
}

.topic {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.topic h3 {
    color: #607DAF;
    text-shadow: 0 0 8px #6E89B6;
    font-size: 1.4rem;
    margin-top: 10px;

}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.3rem;
}

.accordion.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
    margin-bottom: 8px;
}

svg {
    transition: transform 0.5s ease-in;
}

.accordion.active svg {
    transform: rotate(180deg);
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

/* ====================== NAVBAR ====================== */

.app-header.navbar.bg-body {
    background: rgba(16, 16, 41, 0.15) !important; 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(108, 0, 255, 0.15);
}

/* ====================== FOOTER ====================== */
.app-footer {
    font-family: 'Share Tech Mono', monospace;
    background: linear-gradient(180deg, #000 0%, #0a0a1a 100%);
    width: 100%;
    padding: 60px 80px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    border-top: 2px solid #1a1d40;
}

    .app-footer .about-header-footer {
        flex: 1 1 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 10px;
    }

        .app-footer .about-header-footer h2 {
            font-family: "Goldman", sans-serif;
            font-size: 4rem;
            color: #6E89B6;
            text-shadow: 0 0 12px #6E89B6, 0 0 25px #33aaff;
            margin: 0;
        }

        .app-footer .about-header-footer .subtitle {
            font-size: 1.1rem;
            color: #c0e0ff;
            line-height: 1.5;
            max-width: 450px;
        }

    .app-footer .about-section-links {
        flex: 1 1 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .app-footer .about-links-footer {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        font-size: 1.9rem;
    }

        .app-footer .about-links-footer h2 {
            font-family: "Goldman", sans-serif;
            font-size: 2.5rem;
            color: #6E89B6;
            text-shadow: 0 0 12px #6E89B6, 0 0 25px #33aaff;
            margin: 0;
        }

        .app-footer .about-links-footer a {
            color: #6E89B6;
            text-decoration: none;
            transition: all 0.3s ease;
        }

            .app-footer .about-links-footer a:hover {
                color: #33aaff;
                text-shadow: 0 0 8px #33aaff;
            }

    .app-footer .about-copyright-footer {
        font-size: 0.9rem;
        color: #aaa;
    }

        .app-footer .about-copyright-footer a {
            color: #33aaff;
            text-decoration: none;
        }

            .app-footer .about-copyright-footer a:hover {
                text-decoration: underline;
            }

.footer-divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #33aaff80, transparent);
    box-shadow: 0 0 6px #33aaff60;
}

/* This is for making the footer responsive for PC and mobiles */
@media (max-width: 900px) {
    .app-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 20px;
    }

        .app-footer .about-header-footer,
        .app-footer .about-section-links {
            align-items: center;
            text-align: center;
        }

            .app-footer .about-header-footer h2 {
                font-size: 3rem;
            }
}

