@{
    ViewData["Title"] = "About Me";
}

<div class="cyber-container">
    <div class="about-header-main">
        <h1>@ViewData["Title"]</h1>
        <p class="subtitle">An introduction about myself.</p>

        <!-- Fondo Spline -->
        <div class="spline-background">
            <script type="module" src="https://unpkg.com/@@splinetool/viewer@1.10.82/build/spline-viewer.js"></script>
            <spline-viewer url="https://prod.spline.design/0faj0kpQodIcsboK/scene.splinecode"></spline-viewer>
        </div>
    </div>


    <!-- Section 1 -->
    <section class="about-section top">
        <div class="about-text">
            <h2>GET TO KNOW ME</h2>
            <p>
                My name is <span class="highlight">Juan Diego Sanchez</span>, I am a developer aspiring for a fullstack position in a company
                where I can learn and grow as a professional. I am currently building my path doing freelance while I find an oportunity to work full-time.
                I describe myself as someone curious and with big passion to create, I love to create things I see, implement them and learn from the process.
                For me it is very important to give a good image on front-end but my main focus is always on back-end development and functionality.
            </p>
        </div>
        <div class="cyber-panel" style="flex:1; display:flex; justify-content:center; align-items:center; min-height:50vh;">
            <div class="about-img">
                <img src="~/assets/img/Me.png" alt="Digital portrait" />
            </div>
        </div>
        
    </section>

    <!-- Section 2 -->
    <section class="about-section reverse">
        <div class="about-text">
            <h2>ABOUT THE PORTFOLIO</h2>
            <p>
                On this portfolio, more than just to show who am I and show about my skills, I want to make this something more personal, where I upload things I would like to share with
                the world, things I create, resources I find useful and also a playground where I can try new things and improve my skills as a developer. I like to archive the things I lean or create
                and I find this portfolio as a good way to do it. Feel free to check the whole website and explore the different sections where I upload projects, resources and playground experiments.
                For now it might be seen a bit empty, it is because I am just starting my professional path, and this will be updated within time, projects and future opportunities that shows up.
                You can check more about it or check for more of my projects in my Github
            </p>
        </div>

        <div class="cyber-panel" style="flex:1; display:flex; justify-content:center; align-items:center; min-height:50vh;">
            <div class="project-img">
                <img src="/assets/ss/githubSS.png" alt="Github Site" />
            </div>
        </div>
    </section>

    <!-- Section 3 -->
    <section class="about-section">
        <div class="about-text">
            <h2>KNOWLEDGE</h2>

            <div class="accordion">
                <div class="topic">
                    <h3>SKILLS</h3>
                
                    <svg width="15" height="10" viewBox="0 0 42 25">
                            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                    </svg>
                </div>

                <div class="answer">
                    <p>
                        I have some knowledge in programming languages and other skills such as:
                        <ul>
                            <li>C#         - Advanced</li>
                            <li>HTML & CSS - Advanced</li>
                            <li>PHP        - Intermediate</li>
                            <li>JavaScript - Basic</li>
                            <li>Java       - Basic</li>
                            <li>SQL        - Intermediate</li>
                            <li>Unity      - Basic</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="accordion">
                <div class="topic">
                    <h3>CERTIFICATIONS</h3>
                
                    <svg width="15" height="10" viewBox="0 0 42 25">
                            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                    </svg>
                </div>

                <div class="answer">
                    <p>
                        I am currently working on getting certifications to improve my knowledge and skills in the engineering area.
                        <br />
                        I have completed the following certifications:
                        <ul>
                            <li>Microsoft 365 Certified: Funamentals</li>
                            <li>Scrum Certified: Fundamentals</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="accordion">
                <div class="topic">
                    <h3>LANGUAGES</h3>

                    <svg width="15" height="10" viewBox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                    </svg>
                </div>

                <div class="answer">
                    <p>
                        And I also know some languages such as:
                        <ul>
                            <li>Spanish - Native</li>
                            <li>English - Fluent</li>
                            <li>Turkish - Learning</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="cyber-panel" style="flex:1; display:flex; justify-content:center; align-items:center; min-height:50vh;">
            <div class="project-img">
                <img src="~/assets/ss/M365.png" alt="Certification" />
            </div>
        </div>
    </section>
</div>
