@{
    ViewData["Title"] = "About Me";
}

<div class="cyber-container">
    <div class="about-header-main">
        <h1>@ViewData["Title"]</h1>

        <!-- Fondo Spline -->
        <div class="spline-background">
            <script type="module" src="https://unpkg.com/@@splinetool/viewer@1.10.82/build/spline-viewer.js"></script>
            <spline-viewer url="https://prod.spline.design/0faj0kpQodIcsboK/scene.splinecode"></spline-viewer>
        </div>
    </div>


    <!-- Section 1 -->
    <section class="about-section top">
        <div class="about-text">
            <h2>Get to know me</h2>
            <p>
                My name is <span class="highlight">Juan Diego Sanchez</span>, I am a developer learning about programming everyday,
                and I try to improve my skills doing personal projects with different approaches for now.
                I try to learn about some concepts I never learn about in university trying to make my path as a developer by myself meanwhile I look for a job.
                I hope this information changes throught the time when I learn more and improve my skills in the future.
            </p>
        </div>
        <div class="cyber-panel" style="flex:1; display:flex; justify-content:center; align-items:center; min-height:50vh;">
            <div class="about-img">
                <img src="~/assets/img/Me.png" alt="Digital portrait" />
            </div>
        </div>
        
    </section>

    <!-- Section 2 -->
    <section class="about-section reverse">
        <div class="about-text">
            <h2>What you will see</h2>
            <p>
                This website is a personal playground where I try to implement new things and see how can I improve my skills in <span class="highlight">full-stack</span>.
                I am used in do backend development, but I want to learn more about frontend and design. I am also learning about game development in my free time.
                I will try to do implementation and creation of different codes to improve my UI/UX skills and my programming skills in general in this site so it 
                can be seen by whoever wants to check this portfolio.

            </p>
        </div>

        <div class="cyber-panel" style="flex:1; display:flex; justify-content:center; align-items:center; min-height:50vh;">
            <div class="about-img">
                <img src="/assets/img/Random_1.jpg" alt="Code reflections" />
            </div>
        </div>
    </section>

    <!-- Section 3 -->
    <section class="about-section">
        <div class="about-text">
            <h2>Knowledge</h2>

            <div class="accordion">
                <div class="topic">
                    <h3>SKILLS</h3>
                
                    <svg width="15" height="10" viewBox="0 0 42 25">
                            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                    </svg>
                </div>

                <div class="answer">
                    <p>
                        I have some knowledge in programming languages and other skills such as:
                        <ul>
                            <li>C#         - Advanced</li>
                            <li>HTML & CSS - Advanced</li>
                            <li>PHP        - Intermediate</li>
                            <li>JavaScript - Basic</li>
                            <li>Java       - Basic</li>
                            <li>SQL        - Intermediate</li>
                            <li>Unity      - Basic</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="accordion">
                <div class="topic">
                    <h3>CERTIFICATIONS</h3>
                
                    <svg width="15" height="10" viewBox="0 0 42 25">
                            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                    </svg>
                </div>

                <div class="answer">
                    <p>
                        I am currently working on getting certifications to improve my knowledge and skills in the engineering area.
                        <br />
                        I have completed the following certifications:
                        <ul>
                            <li>Microsoft 365 Certified: Funamentals</li>
                            <li>Scrum Certified: Fundamentals</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="accordion">
                <div class="topic">
                    <h3>LANGUAGES</h3>

                    <svg width="15" height="10" viewBox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                    </svg>
                </div>

                <div class="answer">
                    <p>
                        And I also know some languages such as:
                        <ul>
                            <li>Spanish - Native</li>
                            <li>English - Fluent</li>
                            <li>Turkish - Learning</li>
                        </ul>
                    </p>
                </div>
            </div>
            <a href="/Home/Index" class="cyber-link">← Return to the Main Network</a>
        </div>
        <div class="cyber-panel" style="flex:1; display:flex; justify-content:center; align-items:center; min-height:50vh;">
            <div class="about-img">
                <img src="~/assets/img/Me.png" alt="Digital portrait" />
            </div>
        </div>
    </section>
</div>
