@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Juan Diego Sanchez</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="node" style="top: 200px; left: 300px;">Nodo 1</div>
    <div class="node" style="top: 400px; left: 600px;">Nodo 2</div>


</div>
