@{
    ViewData["Title"] = "Resources";
}

<div class="cyber-container">
    <div class="about-header-main">
        <h1>@ViewData["Title"]</h1>
        <p class="subtitle">Some tools I found on the internet that can help me develop better skills, the list will increase while I found more.</p>

        <!-- Fondo Spline -->
        <div class="spline-background">
            <script type="module" src="https://unpkg.com/@@splinetool/viewer@1.10.82/build/spline-viewer.js"></script>
            <spline-viewer url="https://prod.spline.design/0faj0kpQodIcsboK/scene.splinecode"></spline-viewer>
        </div>
    </div>

    <section class="about-cyber-list">
        <div class="cyber-panel-list">
            <div class="project-img-list">
                <img src="~/assets/ss/Logo.png" alt="Logo" />

                <div class="text-list">
                    <h2>Spline - 3D design</h2>
                    <p>
                        Spline helps you create 3D models with a very friendly interface which helped me to create 3D models for my website.
                        Spline is very easy to use and very simple to implement into websites, it connects by a simple script code to show the model, and best part is
                        it changes on real time, if you modify something on the Spline editor and save it, it will change automatically on your website.
                    </p>
                </div>

                <a href="https://spline.design/" target="_blank" class="github-btn"> Check the website </a>
            </div>
        </div>

        <div class="cyber-panel-list">
            <div class="project-img-list">
                <img src="~/assets/ss/youtubeSS.png" alt="YT" />

                <div class="text-list">
                    <h2>YouTube</h2>
                    <p>
                        YouTube is a goldmine of knowledge, I have learned a lot of programming thanks to tutorials and learning through videos how to do a proper use of programming languages.
                        It sounds simple to add a YouTube link as resource but truth is you can learn a lot thanks to the people who posts there, it is free knowledge everyone can have access.
                        I will create in a future a playlist with the best videos I found to learn programming and share it here.
                    </p>
                </div>

                <a href="https://www.youtube.com/" target="_blank" class="github-btn"> Check the website </a>
            </div>
        </div>

        <div class="cyber-panel-list">
            <div class="project-img-list">
                <img src="~/assets/ss/github-portfolios.png" alt="GHP" />

                <div class="text-list">
                    <h2>Github - Repositories</h2>
                    <p>
                        Github itself also is a great way to learn and find inspiration or ideas in the development of new projects, I would like to provide a repository which shows some of the best 
                        portfolios found by this user. If you look properly on github you can find good ideas, repositories, inspiration and tools you might can take to learn to improve your skills.
                        Hope it helps you, in case you are looking for inspiration to make your own portfolio.
                    </p>
                </div>

                <a href="https://github.com/emmabostian/developer-portfolios?tab=readme-ov-file" target="_blank" class="github-btn"> Check the website </a>
            </div>
        </div>
    </section>
</div>
