<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="#007bff" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#1a1a1a" media="(prefers-color-scheme: dark)" />
    <meta name="supported-color-schemes" content="light dark" />
    <link rel="preload" href="~/css/adminlte.css" as="style" />
    <link rel="stylesheet" href="~/css/adminlte.css" />
    <link rel="stylesheet" href="~/css/filter.css" />

    <!-- THIS ONE IS A FONT PROVIDED BY GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Rubik+Glitch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" crossorigin="anonymous" />


    <!-- THE FOLLOWING LINKS CAME WITH THE ADMINTLE AND SOME OF THEM ARE REQUIRED, BASED ON HOW I DEVELOP THE WEBSITE I WILL DELETE THEM OR NOT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    

    @RenderSection("Styles", required: false)
</head>
<body class="layout-fixed bg-body-tertiary">
    <div class="app-wrapper">
        <!-- NAVBAR -->
        <nav class="app-header navbar navbar-expand">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item d-none d-md-block"><a href="/Home/Index" class="nav-link">Juan Diego Sanchez</a></li>
                </ul>
                <!-- Search Bar -->
                <ul class="navbar-nav ms-auto">
                    <!-- Fullscreen -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-lte-toggle="fullscreen">
                            <i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i>
                            <i data-lte-icon="minimize" class="bi bi-fullscreen-exit" style="display: none"></i>
                        </a>
                    </li>
                    <!-- Profile -->
                    <li class="nav-item d-none d-md-block"><a href="/Home/Index" class="nav-link">HOME</a></li>
                    <li class="nav-item d-none d-md-block"><a href="/Home/AboutMe" class="nav-link">ABOUT ME</a></li>
                    <li class="nav-item d-none d-md-block"><a href="/Projects/Projects" class="nav-link">PROJECTS</a></li>
                    <li class="nav-item d-none d-md-block"><a href="/Resources/Resources" class="nav-link">RESOURCES</a></li>
                    <li class="nav-item d-none d-md-block"><a href="/Playground/Playground" class="nav-link">PLAYGROUND</a></li>
                    <li class="nav-item d-none d-md-block"><a href="/Projects/Timeline" class="nav-link">TIMELINE</a></li>
                </ul>
            </div>
        </nav>

        <!-- CYBERIA CURSOR -->
        <div id="cursor"></div>
        <canvas id="bg" style="position: fixed; top:0; left:0; width:100%; height:100%; z-index:-1;"></canvas>

        <!-- RENDER BODY -->
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <!-- FOOTER -->
        <footer class="app-footer">
            <div class="about-header-footer">
                <h2> CONTACT ME </h2>
                <p class="subtitle">Here are the socials where you can reach me out for business inquiries. 
                    I do freelance projects in my free time!
                </p>
            </div>
            
            <section class="about-section-links">
                <div class="about-links-footer">
                    <h2> LINKS: </h2>
                    <a href="https://github.com/chnmrn" target="_blank" class="github-footer">
                        <i class="fab fa-github"></i> Github
                    </a>
                    <a href="https://www.linkedin.com/in/juan-diego-sanchez-gamboa" target="_blank" class="linkedin-footer">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    <a href="mailto:jdsang18@gmail.com" target="_blank" class="gmail-footer">
                        <i class="fas fa-envelope"></i> Gmail
                    </a>
                </div>

                <div class="footer-divider"></div>

                <div class="about-copyright-footer">
                    <p class="subtitle">Design made by me. Template from <a href="https://adminlte.io"><strong>AdminTLE</strong></a>. Adviced by ChatGPT.</p>
                    <strong>Copyright©2025 - Juan Diego Sanchez</strong>
                </div>
            </section>
        </footer>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/cyberia.js"></script>
    <script src="~/js/accordion.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/browser/overlayscrollbars.browser.es6.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/js/jsvectormap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/maps/world.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
