@{
    ViewData["Title"] = "Projects";
}

<div class="projects-header">
    <h1>@ViewData["Title"]</h1>
    <p class="subtitle">Here are some projects I’ve worked on throughout my coding path.</p>
</div>

<div class="projects-content">
    <section class="about-section">
        <div class="about-text">
            <h2>Full-Stack Web System for the school "La Granja"</h2>
            <p>
                Me and my teammates created a full working system for a school, we build up the interface and backend functions of the staff of the school sites and the parents sites,
                there is inclusion of security configurations, for the access of the users and management on the relation and configuration of diferent tables in the database.
                This was made with <strong>C# as an MVC ASP including languages such as HTML, CSS, JavaScript, with inclusion of SQL</strong>, and there are many differences between the basic CRUD system, 
                like the management of roles and permissions, different types of users with different access levels, creation of reports. This is my first big project working in a team and 
                using all my effort because it was made for a real school, so it was more than just an university project.
            </p>
        </div>
        <div class="cyber-panel" style="flex:1; display:flex; justify-content:center; align-items:center; min-height:50vh;">
            <div class="project-img">
                <img src="~/assets/ss/La Granja.jpg" alt="LaGranja" />

                <a href="https://github.com/auditore22/kinder-care" target="_blank" class="github-btn">
                    <i class="fab fa-github"></i> View on GitHub
                </a>
            </div>
        </div>
    </section>

    <section class="about-section reverse">
        <div class="about-text">
            <h2>Slime Dum</h2>
            <p>
                A videogame made as an university project, it was made in <strong>Unity and C#</strong>, the game is a 2D platform and it is about a slime who goes through levels to finish it.
                It has some bugs and errors that need to be changed but it was my first experience creating a videogame and learning the basics of game development, but I plan to modify those changes in a future.
                You will see very basic things about videogames, scenes, characters, enemies, boss fight, menu.
            </p>
        </div>
        <div class="cyber-panel" style="flex:1; display:flex; justify-content:center; align-items:center; min-height:50vh;">
            <div class="project-img">
                <img src="~/assets/ss/Slime Dum.png" alt="SlimeDum" />

                <a href="https://github.com/chnmrn/Slime-Dum" target="_blank" class="github-btn">
                    <i class="fab fa-github"></i> View on GitHub
                </a>
            </div>
        </div>
    </section>

    <section class="about-section">
        <div class="about-text">
            <h2>Web System Client/Server for the salon "Evolve"</h2>
            <p>
                This is a project for the university, made with <strong>PHP and MySQL</strong>, we leanred about client/server systems, me and my teammates created a full working system for a salon,
                we build up the interface and backend functions of the client/server sites, including functions of access and authentication, management of databases such as CRUD functions,
                and relations between tables. It helped me to learn how it works and how to create websites using PHP
            </p>
        </div>
        <div class="cyber-panel" style="flex:1; display:flex; justify-content:center; align-items:center; min-height:50vh;">
            <div class="project-img">
                <img src="~/assets/ss/Evolve.png" alt="Evolve" />

                <a href="https://github.com/auditore22/kinder-care" target="_blank" class="github-btn">
                    <i class="fab fa-github"></i> View on GitHub
                </a>
            </div>
        </div>
    </section>
</div>
