@{
    ViewData["Title"] = "Timeline";
}

<div class="cyber-container">
    <div class="about-header-main">
        <h1>@ViewData["Title"]</h1>
        <p class="subtitle">A summary talking about my experience learning how to be a programmer. It can be seen as a blog</p>

        <!-- Fondo Spline -->
        <div class="spline-background">
            <script type="module" src="https://unpkg.com/@@splinetool/viewer@1.10.82/build/spline-viewer.js"></script>
            <spline-viewer url="https://prod.spline.design/0faj0kpQodIcsboK/scene.splinecode"></spline-viewer>
        </div>
    </div>

    <section class="about-cyber-list">
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2022 – First University Year</h3>
                    <p>I started learning Python and got into fundamentals of Operative Systems and Networking.</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2023 – Diving Deeper as a programmer</h3>
                    <p>I got too many projects as programmer in university, I learned about PHP, Java SQL and got into HTML and CSS, I also got other math and networking projects but this year was focused 
                        mainly in the programming area.
                    </p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2024 – Starting the Project of the year</h3>
                    <p>I became more experienced as programmer and I had to focus in a new big project I had to do for a school, in this year I focused in the project documentation, planning and development.
                        Besides the project, the university show me how to make an API how to connect it with a database, learned about .NET and ASP, and created my first videogame as an university project.
                    </p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2025 – Independent projects</h3>
                    <p>This is where I am currently, I finished my studies and I focused on personal projects and I am looking to do freelance for people, currently I have 2 projects for 2 clients I have to make.
                        I improved so much in many areas, but mainly in the dev area, I am learning constantly and nonstop about new programs like REACT, and I am looking nonstop for oportunities to use my skills for
                        the people who ask for them.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
